:root {
--color00: #0e0c0b;
--color01: #150f0a;
--color02: #1e1912;
--color03: #8c7b67;
--color04: #dfd0bb;
--color05: #e4d8c6;
--color06: #f2e6d4;
--color07: #f6cf98;
--color08: #d87363;
--color09: #e97835;
--color0A: #f1c76a;
--color0B: #87b978;
--color0C: #8fb5aa;
--color0D: #86a6b8;
--color0E: #b9899a;
--color0F: #6b3a1d;
}
